/* Sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 4rem;
  transition: all 300ms ease;
}

/* Bars (Hamburger Icon) */
.bars {
  display: none;
  cursor: pointer;
  transition: transform 300ms ease, left 300ms ease;
}

.bars.open {
  transform: rotate(90deg); /* Rotate icon when sidebar is open */
}

/* Logo */
.logo {
  display: flex;
  height: 5rem;
  font-weight: bold;
  font-size: 22px;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  height: 4%;
}

.logo > span > span {
  color: var(--pink);
}

.logo > img {
  width: 3rem;
  height: 3rem;
}

/* Menu */
.menu {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.menuItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 2.5rem;
  margin-left: 2rem;
  position: relative;
  transition: all 300ms ease;
  border-radius: 0.7rem;
  font-size: 14px;
}

.menuItem:hover {
  cursor: pointer;
}

.menu .menuItem:last-child {
  position: absolute;
  bottom: 2.3rem;
  width: 100%;
}

.active {
  background: var(--activeItem);
  margin-left: 0;
}

.active::before {
  content: "";
  width: 8px;
  height: 100%;
  background: var(--pink);
  margin-right: calc(1rem - 8px);
}

/* Tablets and Mobile - Styling for Sidebar */
@media screen and (max-width: 1200px) {
  .menuItem > span {
    display: none;
  }

  .logo {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  /* Sidebar Styling */
  .sidebar {
    position: fixed;
    z-index: 8;
    background: #ffe0e0;
    width: 55%;
    height: 100%;
    padding-right: 1rem;
    top: 0;
    left: -100%; /* Initially hidden */
    transition: left 300ms ease;
  }

  .sidebar.open {
    left: 0; /* Move sidebar into view when open */
  }

  /* Bars (Hamburger Icon) */
  .bars {
    display: flex;
    position: fixed;
    top: 2rem;
    left: 5%;
    background: #ffe0e0;
    padding: 10px;
    border-radius: 10px;
    z-index: 9;
  }

  .bars.open {
    left: 60%; /* Move hamburger icon to the right when sidebar is open */
  }

  /* Menu Item Text */
  .menuItem > span {
    display: block;
  }

  .logo {
    display: flex;
  }

  .menu .menuItem:last-child {
    position: relative;
    margin-top: 6rem;
  }
}
