/* style.css */
.orders-container {
  padding: 20px;
  background: rgba(255, 255, 255, 0.5); /* Màu nền cho container */
  border-radius: 8px; /* Bo góc cho container */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Đổ bóng cho container */
  max-width: 1200px; /* Đặt chiều rộng tối đa cho container */
  margin: 50px; /* Căn giữa container */
}

.orders-container h3 {
  display: flex;
  align-items: center;
  font-weight: 600; /* Đậm cho tiêu đề */
  margin-bottom: 20px; /* Khoảng cách dưới tiêu đề */
}

.orders-container h3 .anticon {
  margin-right: 8px; /* Khoảng cách giữa biểu tượng và tiêu đề */
  color: #1890ff; /* Màu sắc cho biểu tượng */
}

.orders-container .ant-table {
  border-radius: 8px; /* Bo góc cho bảng */
}

.orders-container .ant-table th {
  background-color: #e6f7ff; /* Màu nền cho tiêu đề bảng */
  color: #1890ff; /* Màu chữ tiêu đề */
  font-weight: bold; /* Đậm cho chữ tiêu đề */
}

.orders-container .ant-table td {
  border-bottom: 1px solid #f0f0f0; /* Đường viền dưới cho ô bảng */
}

.orders-container .ant-table tr:hover {
  background-color: #f5f5f5; /* Màu nền khi hover lên hàng */
}

.orders-container .ant-btn-link {
  color: #1890ff; /* Màu chữ cho nút xem chi tiết */
  font-weight: 500; /* Đậm cho chữ nút */
}

.orders-container .ant-btn-link:hover {
  text-decoration: underline; /* Gạch chân khi hover */
}

.status {
  padding: 4px 8px;
  border-radius: 4px;
  color: #fff;
}

.trang-thai-hoan-thanh {
  background-color: green; /* Màu xanh cho trạng thái "Đã hoàn thành" */
}

.trang-thai-dang-xu-ly {
  background-color: orange; /* Màu cam cho trạng thái "Đang xử lý" */
}

.trang-thai-da-huy {
  background-color: red; /* Màu đỏ cho trạng thái "Đã hủy" */
}
