.CustomerReview {
  display: flex;
  flex-wrap: wrap; /* Cho phép các bảng xuống dòng khi không đủ chỗ */
  justify-content: ; /* Căn đều các bảng */
  gap: 20px; /* Khoảng cách giữa các bảng */
  padding: 20px;
}

.revenue-box {
  cursor: pointer;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: calc(33.33% - 20px); /* Chiếm 1/3 chiều rộng */
  box-sizing: border-box;
}

.chart-container {
  position: relative;
  transition: all 0.3s ease;
  max-height: 0;
  overflow: hidden;
}

.chart-container.expand {
  max-height: 2000px; /* Hiển thị biểu đồ khi mở */
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  background: none;
  border: none;
  color: #ff929f;
  cursor: pointer;
  z-index: 10;
}

.close-btn:hover {
  color: white;
  background: red;
}

@media (max-width: 768px) {
  .revenue-box {
    width: calc(
      50% - 20px
    ); /* Khi màn hình nhỏ, mỗi bảng chiếm 50% chiều rộng */
  }
}

@media (max-width: 480px) {
  .revenue-box {
    width: 100%; /* Khi màn hình rất nhỏ, mỗi bảng chiếm toàn bộ chiều rộng */
  }
}
