body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  color: var(--black);
  background: linear-gradient(
    106.37deg,
    #b3e5fc 29.63%,
    /* Lam nhạt */ #c8e6c9 51.55%,
    /* Lục nhạt */ #f1f8e9 90.85% /* Trắng xanh nhạt */
  );
}

html {
  font-size: 62.5%;
}
